<div class="hero_card">
  <div class="hero_card_main_title">
    <h2 class="hero_card_h2">
      It’s no wonder the waving inflatable is an advertising staple
    </h2>
  </div>
  <div class="hero_card_wrap">
    <div class="hero_card_container">
      <div class="hero_card_image">
        <img src="/images/logo.svg" alt="logo" />
      </div>
      <div class="hero_card_title">Agricultre</div>
      <div class="hero_card_details">
        It’s no wonder the waving inflatable is an advertising staple.
      </div>
    </div>
    <div class="hero_card_container">
      <div class="hero_card_image">
        <img src="/images/logo.svg" alt="logo" />
      </div>
      <div class="hero_card_title">Agricultre</div>
      <div class="hero_card_details">
        It’s no wonder the waving inflatable is an advertising staple.
      </div>
    </div>
    <div class="hero_card_container">
      <div class="hero_card_image">
        <img src="/images/logo.svg" alt="logo" />
      </div>
      <div class="hero_card_title">Agricultre</div>
      <div class="hero_card_details">
        It’s no wonder the waving inflatable is an advertising staple.
      </div>
    </div>
    <div class="hero_card_container">
      <div class="hero_card_image">
        <img src="/images/logo.svg" alt="logo" />
      </div>
      <div class="hero_card_title">Agricultre</div>
      <div class="hero_card_details">
        It’s no wonder the waving inflatable is an advertising staple.
      </div>
    </div>
  </div>
</div>
