<div class="nav_main">
  <nav class="navigation">
    <a href="/"><img src="/images/logo.svg" alt="logo" /></a>
    <ul class="ul">
      <li class="nav_list">
        <a href="/" class="a"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li class="nav_list">
        <a href="/detail" class="a"
          ><i class="fa-solid fa-cart-shopping"></i>Product</a
        >
      </li>
      <li class="nav_list">
        <a href="/singleproduct" class="a"
          ><i class="fa-solid fa-person"></i>About Us</a
        >
      </li>
    </ul>
    <a href="/signIn"><button class="nav_button">Sign In</button></a>
  </nav>
</div>
