<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/tags.ejs')%>
  </head>
  <body>
    <%-include('./partials/nav.ejs')%>
    <div class="details_card_main">
      <%-include('./partials/details_cards.ejs')%>
      <%-include('./partials/details_cards_preview.ejs')%>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
