<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/tags.ejs')%>
  </head>
  <body>
    <div class="main">
      <%-include('./partials/nav.ejs')%>
      <div class="hero"><%-include('./partials/hero.ejs')%></div>
      <div class="hero_cards"><%-include('./partials/hero_card.ejs')%></div>
    </div>

    <!-- <script src="/js/index.js"></script> -->
  </body>
</html>
